@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    background-color: black;
    margin: 10vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;
}

.container-itens {
    position: absolute;
    display: flex;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width: 80vw;
    height: 80vh;
    transition: all 1s;
}

.item:first-child {
    margin-left: -100%;
}

.item img{
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;

}

.action-button:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;

}


aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

footer nav ul a{
    text-decoration: none;
}

footer nav ul a:hover{
    color: black;
    font-weight: 700;
}

.required {
    border: 1px solid red !important;
    outline: none !important;
  }